body {
    background-color: rgb(245, 205, 240);
}

input{
    display: block;
    
}

input[type=radio]{
    display: inline-block;
}
.register {
    /* padding: 5em; */
    align-items: center;
    width: 30%;
    margin: auto; 
    text-align: center;  
}
.register input {
    text-align: center;
    margin: auto;
}
.how label {
    display: block;
}
.how {
    text-align: left;
    margin: auto;
}
.login {
    align-items: center;
    width: 30%;
    margin: auto; 
    text-align: center;   
}
.login input {
    text-align: center;
    margin: auto;
}
h2 {
    text-align: center;
    margin: auto;
    display: block;
    
}
.cake {
    align-items: center;
    margin: auto;
    display: block;
}
.text {
    padding: 3rem;
}
p {
    text-align: center;
}

.bullet ul {
    padding-inline-start: 49%;

}
footer {
    margin: auto;
    text-align: center;
}
.card {
    align-items: center;
    margin: auto;
}
.form-select {
    width: 188px;
    border-radius: 0;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
.checkout {
    align-items: center;
    width: 30%;
    margin: auto; 
    text-align: center;   
} 
.buy {
   margin: auto;
   width: 34%;
}   
#cart table {
  width: 75%;  
  margin: auto;
  background-color: white;
}
.btn-primary {
    color: black;
    background-color: white;
}

